nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-right: 15px;
}

h1 {
    text-align: center;
    color:lightcoral;
}

h3 {
    font-family:lobster;
    text-align: center;
    color: lightcoral;
}

h4 {
    color:lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-border {
    border-color:aqua;
    border-width: 5px;
    border-radius: 10%;
    border-style:groove;
    width: 400px;   
}

img{display: block;
    margin: auto;
}

.name {
    color:seagreen;
    text-align: center;
    font-family:lobster;
}
.info {
    text-align: center;
}
li {
    color:rebeccapurple;
}

body {
    background-color:bisque;
}

.fa-discord{font-size: 1.5em;

}
.login-form-container{display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-form{
    display:flex ;
    flex-direction: column;
    
}
.login-form input,button{
    padding: 10px;
    margin-top: 10px;
}
.login-form button{
    font-weight: 900;
    background-color: orange;
    border-radius: 10px;
}
.login-form h2{
    text-align: center;
}
.footer{position:fixed;
    bottom: 0;
    left: 0;
    font-size: 15px;
    margin-left:10px ;
}